{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier", "plugin:compat/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": ["off"],
    "import/no-unresolved": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "import/extensions": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js"] }],
    "react/jsx-no-bind": ["off"],
    "react/prop-types": ["off"],
    "react/jsx-one-expression-per-line": ["off"],
    "react/prefer-stateless-function": ["off"],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "ignore"
      }
    ],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "jsx-a11y/no-noninteractive-element-interactions": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "compat/compat": "error",
    "generator-star-spacing": ["off"],
    "consistent-return": ["off"],
    "global-require": ["warn"],
    "no-else-return": ["off"],
    "no-restricted-syntax": ["off"],
    "no-use-before-define": ["off"],
    "no-nested-ternary": ["off"],
    "arrow-body-style": ["off"],
    "no-bitwise": ["off"],
    "no-cond-assign": ["off"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "object-curly-newline": ["off"],
    "function-paren-newline": ["off"],
    "no-restricted-globals": ["off"],
    "require-yield": ["warn"]
  }
}
